.colorCodes {
    margin-right: -2%;
}

.mineColor {
    float: left;
    width: 9.5%;
    height: 100px;
    margin: 0.5%;
    border: 1px solid rgba(0, 0, 0, .2);
}

.mine0 {
    background: #DEDEDC;
}

.mine1 {
    background: #DDFAC3;
}

.mine2 {
    background: #ECEDBF;
}

.mine3 {
    background: #EDDAB4;
}

.mine4 {
    background: #EDC38A;
}

.mine5 {
    /*background: #FF7D60;*/
    background: #F7A1A2;
}

.mine6 {
    background: #FEA785;
}

.mine7 {
    background: #FF7D60;
    /*background: #F7A1A2;*/
}

.mine8 {
    background: #FF323C;
}

.flag {
    background: #0C69E8;
}
