.map {
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
    margin-left: 1.5%;
    /*margin-right: auto;*/
    padding: 0;
    width: 85%;    
    display: inline-block;
}

.unchecked {
    fill: #AAA;
    transition: fill .4s ease-out;     
}

.unchecked:hover {
    fill: #FFF;
    stroke:black;
    pointer-events:all;
    /*transition: fill .4s ease-out;     */
}

.mine0 {
    fill: #DEDEDC;
    transition: fill .4s ease-out;
}

.mine1 {
    fill: #DDFAC3;
}

.mine2 {
    fill: #ECEDBF;
}

.mine3 {
    fill: #EDDAB4;
}

.mine4 {
    fill: #EDC38A;
}

.mine5 {
    fill: #F7A1A2;
}

.mine6 {
    fill: #FEA785;
}

.mine7 {
    fill: #FF7D60;
}

.mine8 {
    fill: #FF323C;
}

.mineSTEP {
    fill: #000000;
}


/*CSS that didn't make it:*/

/*.displayContainer_1 {*/
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
/*    padding: 0;*/
/*    width: 70%;    */
/*    display: inline;*/
/*}*/

/*#outlines {*/
/*    float: left;*/
    /*width: 90%;*/
    /*margin-right: 0;*/
/*}*/

/*
.displayContainer_1 svg path:active {
    fill:#358;
    stroke:black;
    pointer-events:all;
}*/


/*.displayContainer_1 svg path:not(unchecked) {*/
/*    fill: #AAA;*/
/*    transition: background-color .4s ease-out;*/
/*}*/
 

/*.displayContainer_1 svg path:not(unchecked):hover {*/
/*    fill: #FFF;*/
/*    stroke:black;*/
/*    pointer-events:all;*/
/*    transition: fill .4s ease-out; */
/*}*/
