<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Login -- Alex Liu's Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="img/faviconHexagonCurve.png"/> -->
        <link rel="shortcut icon" type="image/png" href="img/faviconChevron.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/accounts.css">
    </head>
    
    <body>
        <nav class="topnav">
        	<a class="active" href="/2019aliu/">Home</a>
        	<a href="/2019aliu/statesGame" target="_blank">Mines</a>
        	<a href="/2019aliu/scrabbleSolver" target="_blank">Scrabble Solver</a>
        	<a href="/2019aliu/cookieClicker" target="_blank">Cookie Clicker</a>
        	<a href="https://tjtetris.sites.tjhsst.edu/" target="_blank">Tetris</a>
        	<a href="/2019aliu/about" target="_blank">About</a>
        	<a class="login" href="/2019aliu/loginPage">Login</a>
        </nav>
        
        <div class="title-line">
        	<h1 style="text-align: center;" id="logo-text">Login with Ion (TJ's intranet) credentials</h1>
        </div>
        
        <div class="loginDiv">
            <a class="loginLink" href={{myOAuthUri}}>Ion Login</a>
        </div>
    </body>
</html>
