ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    width: 300px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:active {
    background-color: #48CAFF;
    padding: 16px 16px;
    color: #FF8700;
}

li a:hover:not(.active) {
    background-color: #007FB2;
    padding: 20px 16px;
    color: white;
}

/*ul {*/
/*    list-style-type: square;*/
/*    margin: 50;*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    background-color: #f1f1f1*/
/*}*/

/*li a {*/
/*    display: block;*/
/*    background-color: #f0f0f0;*/
/*}*/

/*li a:active {*/
/*    background-color: #2c77e8;*/
/*    text-decoration: underline #2cd5e8 overline #2cd5e8;*/
/*}*/

/*li a:hover.not(.active) {*/
/*    background-color: #f1f1f1;*/
/*}*/


/*body {*/
/*    background-color: darkslategrey;*/
/*    color: azure;*/
/*    font-size: 1.1em;*/
/*}*/

/*.Links {*/
/*    margin-left: 100px*/
/*}*/

/*h3 {*/
/*    color: coral;*/
/*}*/





/*#intro {*/
/*    font-size: 1.3em;*/
/*}*/


/*.colorful {*/
/*    color: orange;*/
/*}*/

/*h1 {*/
/*    margin-left: 20px;*/
/*    color: green;*/
/*}*/
