<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About Alex Liu (2019aliu)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="img/faviconHexagonCurve.png"/> -->
        <link rel="shortcut icon" type="image/png" href="img/faviconChevron.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/rulesPage.css">
        
        <!-- Styling - mainly because I don't want this formating anywhere else-->
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 10px;
            }
        </style>
    </head>
    
    <body>
        <nav class="topnav">
        	<a class="active" href="/2019aliu/">Home</a>
        	<a href="/2019aliu/statesGame">Mines</a>
        	<a href="/2019aliu/scrabbleSolver">Scrabble Solver</a>
        	<a href="/2019aliu/cookieClicker">Cookie Clicker</a>
        	<a href="https://tjtetris.sites.tjhsst.edu/">Tetris</a>
        	<a href="/2019aliu/about">About</a>
        	<a class="login" href="/2019aliu/loginPage">{{tjUser}}</a>
        </nav>
        
        <div class="title-line">
        	<h1 style="text-align: center;" id="logo-text">About </h1>
        </div>
        
        <h2>About me</h2>
        
        <p><b><u>Introduction</u></b>: Alex Liu (2019aliu) is a student at TJHSST. This is his website from the Web Applications Development, under the instruction of Mr. Paul Kosek.</p>
        
        <div>
            <p><b><u>My Schedule</u></b></p>
            <table>
                <tr>
                    <th>Period</th>
                    <th>Course Name</th>
                    <th>Room Number</th>
                    <th>Instructor</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>AP US Government</td>
                    <td>216</td>
                    <td>Malhaz Jibladze</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Multivariable Calculus</td>
                    <td>82</td>
                    <td>Myra Spoden</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>AP English Language and Composition</td>
                    <td>36</td>
                    <td>Michelle Lang Boswell</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Web Applications Development</td>
                    <td>206</td>
                    <td>Paul Kosek</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Geosystems</td>
                    <td>249</td>
                    <td>John Woodwell</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Neuroscience Research Lab (Part 1)</td>
                    <td>5</td>
                    <td>Mark Hannum</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Neuroscience Research Lab (Part 2)</td>
                    <td>5</td>
                    <td>Mark Hannum</td>
                </tr>
            </table>
        </div>
        
        <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <h2>Development notes</h2>
        
        <h3>Brief summary of things to implement</h3>
        <ul>
            <li>Cookie Clicker (extensive upgrades)</li>
            <li>Letters only filter in scrabble solver</li>
            <li>High Scores (using AJAX)</li>
            <li>Show numbers, picture of flags and mines upon click</li>
        </ul>
        
        <h3>General Website</h3>
        <h4>12/10/18 11:05</h4>
        <p>Wow! A lot has changed since the last update to the website. They are here:</p>
        <ul>
            <li>I made a scrabble solver, with a filtering option</li>
            <li>Started a cookie clicker</li>
        </ul>
        <p>We shall see where the cookie clicker goes (seems to be hard...)</p>
        
        <h4>10/30/18 14:12</h4>
        <p>Finally done with the basic login feature. Now need to make a leaderboard. Problem is I may not have enough time.</p>
        
        <h4>10/22/18 22:22</h4>
        <p>With the next assignment requiring involvement of Ion login, I will most likely do all or some combination of the following:</p>
        <ul>
            <li>Username display on upper-right corner, autofil parameter in the feedback form</li>
            <li>Link the username to a "profile page" (i.e. what class, how your schedule compares to mine)</li>
            <li>Display schedule for today</li>
        </ul>
        <p>Hoping for the best I guess. As long as college apps and other stuff (ahem STS) doesn't kill me first.</p>
        
        <h4>10/13/18 12:56</h4>
        <p>
            I would like to how many visitors visited the website (i.e. use handlebars).<br><br>
            Also, how in the world do I incorporate middleware?
        </p>
        
        
        <h3>Minesweeper: US Edition</h3>
        <h4>10/24/18 17:23</h4>
        <p>
            The states game now has flags. They function as mines, although they don't look very nice. <br>
            I'm currently working on getting the login feature to work, hopefully things will work out nicely...
        </p>
        
        <h4>10/22/18 22:13</h4>
        <p>
            Jeez, I'm really bad with updating my development page. Anyways, some news I guess:
        </p>
        <ul>
            <li><u>Feedback</u>: I have a new form with a few questions on it. First time dealing with forms, what do you expect? <br>
            Also I want to know how my games are. If time permits, I might implement a feedback box, and have that emailed to my TJ email.</li>
            <br>
            <li><u>High Scores</u>: I would like to put in a Top Ten Feature, but I want to put in a username thing first by logging into Ion.</li>
            <br>
            <li><u>Minesweeper features</u>: I want to implement them so badly! I will get to them, just give me a while (probably after November 1st, lmao).</li>
        </ul>
        
        <h4>10/13/18 12:54</h4>
        <p>
            The basic game is done. However, lots of features are missing, such as:
        </p>
        <ul>
            <li>Right-click flags</li>
            <li>Show numbers, picture of mines upon click</li>
            <li>Recording high scores.</li>
        </ul>
        <p>
            The issue with flags, numbers, and mines is that I'm not sure how to put things on top of SVG paths.<br><br>
            Recording high scores can probably be done with AJAX/jQuery.
        </p>
        
        <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <h2>Miscellaneous, Final Remarks</h2>
        
        <h3>Minesweeper</h3>
        
        <p>Currently, the site record is an astounding 37.2 seconds, held by Ray Bai. Here is photo proof:</p>
        <img style="width: 700px; height: 400px;" src="img/minesweeperUS_PB_2020rbai.png"  alt="2020rbai's US minesweeper personal best">
        
        <p>With the new flags implemented, Alexey Didenkov achieved an amazing 40.6 seconds. Here is photo proof</p>
        <img style="wdith: 700px; height: 400px;" src="img/minesweeperUS_PB_2019adidenko.png" alt="2019adidenko's US minesweeper personal best">
        
        <p>My personal best on minesweeper game is 42.3 seconds. Here is photo proof:</p>
        <img style="width: 700px; height: 400px;" src="img/minesweeperUS_PB_2019aliu.png" alt="2019aliu's US minesweeper personal best">
        <p>If you beat me, beat the site record, or have other comments, let me know! Email: <a href="mailto:alexyliuxyz@gmail.com?Subject=US%20Minesweeper%20Feedback">alexyliuxyz@gmail.com</a></p>
    </body>
</html>
