<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Alex Liu's Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="img/faviconHexagonCurve.png"/> -->
        <link rel="shortcut icon" type="image/png" href="img/faviconChevron.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <!--<link rel="stylesheet" type="text/css" href="css/states.css">-->
    </head>
    
    <body>
        <nav class="topnav">
        	<a class="active" href="/2019aliu/">Home</a>
        	<a class="login" href="/2019aliu/loginPage">{{tjUser}}</a>
        </nav>
        
        <div class="title-line">
        	<h1 style="text-align: center" id="logo-text">You've reached an unknown page. Don't worry!</h1>
        	<h2 style="text-align: center" id="logo-text">Try going back to the home page, 
        	or <a href="javascript:history.back()">go back</a> a page with the button at the bottom of the page!</h2>
        </div>
        
        <img style="display: block; margin-left: auto; margin-right: auto;" src="img/Success-kid-meme-examples.png" alt="Success kid memes :P">
    </body>
</html>
