<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Alex Liu's Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="img/faviconHexagonCurve.png"/> -->
        <link rel="shortcut icon" type="image/png" href="img/faviconChevron.png"/>
    
        <!-- External CSS -->
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/homePage.css">
    </head>
    
    <body>
        <nav class="topnav">
        	<a class="active" href="/">Home</a>
        	<a href="/statesGame" target="_blank">Mines</a>
        	<a href="/scrabbleSolver" target="_blank">Scrabble Solver</a>
        	<a href="/cookieClicker" target="_blank">Cookie Clicker</a>
        	<a href="https://tjtetris.sites.tjhsst.edu/" target="_blank">Tetris</a>
        	<a href="/about" target="_blank">About</a>
        	<a class="login" href="loginPage">{{tjUser}}</a>
        </nav>
        
        <div class="title-line">
        	<h1 style="text-align: center; color: #e0e0e0" id="logo-text">Alex Liu (2019aliu)'s Website</h1>
        </div>
        
        <p style="margin: 10px 0; text-align: center; color: #e0e0e0">Welcome to my website! Feel free to explore the projects I've created! Just click the links below or above:</p>
        <div class="links">
            <ul>
                <li><a href="/2019aliu/statesGame" target="_blank">Minesweeper: US Edition</a></li>
                <li><a href="/2019aliu/scrabbleSolver" target="_blank">Scrabble Solver</a></li>
                <li><a href="/2019aliu/cookieClicker" target="_blank">Cookie Clicker</a></li>
                <li><a href="https://tjtetris.sites.tjhsst.edu/" target="_blank">Check out my tetris game! Made with Victor Bo</a></li>
            </ul>
        </div>
        
        <div>
            
        </div>
    </body>
</html>
