/*.wallpaper {*/
/*    background-image: linear-gradient(to bottom right, #4293b4 0%, #a59f1f 100%);*/
/*    z-index: -1;*/
/*}*/

html {
    height: 100%;
    /*background-image: linear-gradient(to bottom , #0B79A5, #a59f1f);*/
    background-image: linear-gradient(to bottom , #0B79A5, #bdc3c7);
    /*#bdc3c7 → #2c3e50*/
}
/*alternate for starting color on gradient: 09668B*/

.links ul {
    list-style-type: none;
    margin: 50px auto;
    padding: 0;
    width: 300px;
    text-align: center;
}

.links li {
    padding: 10px;
}

.links li a {
    background-image: linear-gradient(-90deg, rgba(211, 131, 18, 1), rgba(168, 50, 121, 1));
    display: block;
    float: none;
    margin: auto;
    border: 2px outset #060606;
    padding: 20px 16px;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 30px;
}

/*li a:active {*/
/*    background-color: #48CAFF;*/
/*    padding: 16px 16px;*/
/*    color: #FF8700;*/
/*}*/

/*.links li a:hover:not(.active)*/

.links li a:hover {
    background-image: linear-gradient(-90deg, rgba(211, 131, 18, 0.6), rgba(168, 50, 121, 0.6));
    padding: 20px 16px;
    color: white;
}
